body {
  background: #fefae0;
  font-family: Arial;
  color: #283618;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
}

.search-box {
  margin-top: 40px;
}

input, textarea {
  padding: 10px;
  width: 80%;
  margin: 10px 0;
}

button {
  background: #dda15e;
  border: none;
  padding: 10px;
  cursor: pointer;
}

details {
  background: #606c38;
  color: white;
  padding: 10px;
  margin-top: 20px;
}

nav a {
  margin: 10px;
  color: #bc6c25;
  text-decoration: none;
}
